logs
demo-go_darwin_amd64
demo-go_freebsd_386
demo-go_freebsd_amd64
demo-go_freebsd_arm
demo-go_linux_386
demo-go_linux_amd64
demo-go_linux_arm
demo-go_linux_mips
demo-go_linux_mips64
demo-go_linux_mips64le
demo-go_linux_mipsle
demo-go_linux_s390x
demo-go_netbsd_386
demo-go_netbsd_amd64
demo-go_netbsd_arm
demo-go_openbsd_386
demo-go_openbsd_amd64
demo-go_windows_386.exe
demo-go_windows_amd64.exe
